.brand {
  margin-left: -1px;
}

.contact-me {
  width: 500px;
}

.nav:hover {
  color: white;
}

.nav {
  color: #777;
}

.card {
  display: flex;
  align-items: center;
}

.card li {
  list-style: none;
}

.card img {
  width: 200px;
  height: 200px;
}