* {
  margin: 0;
  padding: 0;
}

.brand {
  margin-left: -1px;
}

.contact-me {
  width: 500px;
}

.nav:hover {
  color: white;
}

.nav {
  color: #777;
}

.card {
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px black solid;
}

h1 {
  margin: 5px auto;
  display: flex;
  align-items: center;

}

.btn-contact {
  width: max-content;
  height: 50px;
  padding: 5px;
  cursor: pointer;
}

.btn {
  width: max-content;
  padding: 5px;
  cursor: pointer;
  margin: 5px;
}

/* form {
  box-sizing: border-box;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
} */
input {
  height: 20px;
}

.mx-2 {
  margin: 2px;
}

.card li {
  list-style: none;
}

.card img {
  width: 200px;
  height: 200px;
}

.div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-purple {
  background-color: purple;
}

.border-purple {
  border: 10px solid purple;
}

.hover-skyblue:hover {
  background-color: skyblue;
}

.bg-skyblue {
  background-color: skyblue;
}

.li-h {
  height: 25px;
  padding: 5px;
}


.ul-inline {
  list-style: none;
  display: flex;
  justify-content: start;
  margin: 10px;
}

.li {
  margin: 0 10px;
}