.brand {
  margin-left: -1px;
}

.contact-me {
  width: 500px;
}

.nav:hover {
  color: white;
}

.nav {
  color: #777;
}

.card {
  display: flex;
  align-items: center;
}

.card li {
  list-style: none;
}

.card img {
  width: 200px;
  height: 200px;
}

.div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-purple {
  background-color: purple;
}

.border-purple {
  border: 10px solid purple;
}

.hover-skyblue:hover {
  background-color: skyblue;
}

.li-h {
  height: 25px;
  padding: 5px;
}